@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

body {
    filter: drop-shadow(1px 0px 35px blue);
    background: repeating-radial-gradient(#000 0 0.0001%, #071539 0 0.0002%) 50% 0 / 2500px 2500px, repeating-conic-gradient(#000 0 0.0001%, #08124b 0 0.0002%) 60% 60% / 2500px 2500px;
    background-blend-mode: difference;
    animation: b .2s infinite alternate;
    background-attachment: fixed;
}
@keyframes b{
  100% {background-position: 50% 0, 60% 50%}
}

.container-presentation{
    height: 100vh;
    background: rgb(196, 253, 111);
    padding: 0.1px;
    overflow: hidden;
}

.boton {
    font-family: "Oi", serif;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
}

h5{
    margin-top: 10px;
    color: #00b5ff;
    text-shadow: 0px -3px 0px #310431, 1px 5px 0px #1010d5, 1px 10px 0px #030a41;
    background: #ebc9ff;
    padding: 10px;
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0.1px;
}

.star-title{
    position: relative;
    z-index: 2;
    filter: drop-shadow(2px 4px 1px black);
}

.star-title svg{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 72px;
    right: -68px;
    filter: drop-shadow(-4px 1px 0px #ffe500);
    transform: rotate(20deg);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    background-image: radial-gradient(#00b5ffa1 44%, #61ffd3 51%, #1dffc300 52%);
    padding: 0.1px;
    width: 330px;
    height: 330px;
    font-size: 5rem;
    transform: rotate(-9deg);
    color: #ffe500;
    text-shadow: 0 0 12px #350314, 1px 7px 1px #e91e63c4, 3px 11px 1px #f586f5, 4px 20px 0px #040e49;
}

.about-me{
    overflow: hidden;
    filter: drop-shadow(2px 4px 6px black);
}

.star-about-me{
    position: relative;
    z-index: 0;
}

.star-about-me svg{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 26px;
    transform: rotate(41deg);
}

.star-about-me svg path{
    fill: #ff8200ab;
}

.star-about-me2{
    position: relative;
    z-index: 0;
}

.star-about-me2 svg{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 32px;
    top: -80px;
    transform: rotate(36deg);
}

.star-about-me2 svg path{
    fill: #61ffd3c2;
}

h2{
    font-family: var(--primary-font);
    margin: 0;
    font-size: 5rem;
    color: #00b5ff;
    text-shadow: -3px 1px 0px #040e49;
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 100;
}

main{
    overflow: hidden;
}

section{
    margin-bottom: 120px;
}

article{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-family: var(--secundary-font);
    width: 70%;
    font-size: 1.7rem;
    color: #00b5ff;
    margin: 40px 0px;
}

.job1{
    left: 16px;
}

.job svg {
    top: -128px;
}

.jobs article{
    flex-direction: column;
}

.container{
    width: 100%;
    justify-content: space-around;
    align-items: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-family: var(--third-font);
    margin: 79px 0px 0px;
    font-size: 3rem;
    color: #ff8200;
    font-weight: 100;
    text-shadow: -2px 2px 0px #330e03;
}

.container p{
    font-size: 1.4rem;
    width: 60%;
}

.img{
    width: 80%;
    background: aliceblue;
    border-radius: 9px;
    box-shadow: -7px 7px 0px 6px #FFC107;
}

img{
    width: 100%;
    border-radius: 9px;
    margin-bottom: -5px;
}

footer{
    overflow: hidden;
} 