@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: var(--gradiente-estrellas), url(/image/skyblue.gif);
    background-attachment: fixed;
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0.1px;
    background-image: url(/image/fondo.png);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    background-image: radial-gradient(#00b5ffa1 44%, #61ffd3 51%, #1dffc300 52%);
    text-align: center;
    line-height: 1.34;
    width: 330px;
    height: 330px;
    font-size: 5rem;
    transform: rotate(-9deg);
    color: var(--yellow);
    text-shadow: 0 0 12px #350314, 1px 7px 1px #e91e63c4, 3px 11px 1px #f586f5, 4px 20px 0px #040e49;
    filter: drop-shadow(1px 0px 35px var(--blue));
}

.astronaut img, .spaceship img{
    position: absolute;
    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.astronaut{
    position: relative;
    width: 50%;
}

.astronaut img{
    top: -49px;
    width: 43px;
}

.alien__spaceship{
    position: relative;
    top: 176px;
    position: absolute;
    animation-name: traslado;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes traslado {
    from {
      transform: translate(0px)
    }
  
    to {
      transform: translate(90px, -100px)
    }
}

.alien__spaceship img{
    width: 84px;
    position: absolute;
    top: 145px;
}

.star__title{
    position: relative;
    z-index: 2;
    filter: drop-shadow(2px 4px 1px var(--black));
}

.star__title svg{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28px;
    right: -68px;
    filter: drop-shadow(-4px 1px 0px var(--yellow)); 
    transform: rotate(20deg);
}

.spaceship{
    display: flex;
    justify-content: center;
}

.spaceship img{
    width: 26px;
    bottom: 64px;
    box-shadow: 0px -98px 42px -6px var(--orange);
}

main{
    display: flex;
    flex-direction: column;
    gap: 95px;
}

main section{
    filter: drop-shadow(0px 0px 46px var(--violet));
}

.container__hp{
    gap: 0;
}

.wave1{
    width: 100%;
    position: relative;
    bottom: -41px;
    overflow: hidden;
    filter: drop-shadow(0px -20px 0px var(--filter-wave));
}

.wave1 svg{
    filter: drop-shadow(0px -10px 0px var(--black));
}

.wave1 svg path{
    filter: drop-shadow(0px -28px 0px var(--blue));
}

article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    background: var(--violet-dark);
    position: relative;
    z-index: 1;
}

.star1{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -13px;
    left: -108px;
    animation: scale2 3s infinite linear;
}

.star1 svg{
    width: 35px;
    height: 35px;
    transform: rotate(41deg);
}

.star1 svg path, .star-about-me3 svg path{
    /* fill: #ff8400; */
    /* filter: drop-shadow(-13px 37px 0px #210f43); */
}

.path{
    /* filter: drop-shadow(0px -18px 0px #000000); */
}

h2{
    font-family: var(--primary-font);
    font-size: 4rem;
    color: var(--light-blue);
    text-shadow: -3px 1px 0px #040e49;
    text-align: center;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 100;
    filter: drop-shadow(0px 4px 6px var(--black));
}

.star2{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 170px;
    top: -33px;
    animation: scale2 3s infinite linear;
}

.star2 svg{
    width: 39px;
    height: 60px;
    transform: rotate(44deg);
}

.star2 svg path, .star4 svg path{
    fill: var(--yellow);
    filter: drop-shadow(-13px 37px 0px #210f43);
}

@keyframes scale2 {
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}

.container__article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

p{
    font-family: var(--secundary-font);
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--light-blue);
    margin: 0px;
}

.articles{
    display: flex;
    flex-direction: column;
    gap: 74px;
    filter: unset;
}

.wave2{
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(0px 20px 0px var(--filter-wave));
    position: relative;
    top: -3px;
    z-index: 0;
}

.wave2 svg{
    filter: drop-shadow(0px 10px 0px var(--black));
}

.wave2 svg path{
    filter: drop-shadow(0px -28px 0px var(--blue));
}

.perro{
    overflow: hidden;
}

.perro img{
    position: absolute;
    width: 111px;
    top: -29px;
    rotate: 9deg;
}

.star3{
    display: flex;
    justify-content: center;
    animation: scale2 2s infinite linear;
    position: relative;
    z-index: 2;
    bottom: -13px;
    left: -92px;
}

.star3 svg{
    width: 35px;
    height: 35px;
    transform: rotate(41deg);
}

.container__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--violet-dark);
}

.star4{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 202px;
    top: -125px;
    animation: scale2 3s infinite linear;
}

.star4 svg{
    width: 39px;
    height: 60px;
    transform: rotate(44deg);
}

h3{
    font-family: var(--third-font);
    margin: 0px;
    font-size: 2rem;
    color: var(--orange);
    font-weight: 300;
    text-shadow: -2px 2px 0px var(--shadow-third-font);
}

ul{
    display: flex;
    width: 80%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 26px;
    border: 1px solid var(--blue);
    background: var(--dark-blue);
    width: 76px;
    padding: 5px 0px;
}

ul li i{
    font-size: 1.1rem;
}

ul li p{
    width: unset;
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.html{
    color: var(--orange);
}

.css{
    color: var(--light-blue);
}

.js{
    color: var(--yellow);
}

.preview, .code{
    color: var(--yellow);
}

.deploy li{
    width: 100px;
    box-shadow: unset;
    border:unset;
    background: unset;
    border-radius: unset; 
}

.deploy li:hover{
    width: 110px;
}

a{
    color: #ffe500;
    text-decoration: none;
    font-family: var(--secundary-font);
}

.deploy li:hover{
    color: var(--orange); 
    font-weight: bold;
    text-shadow: 1px 2px 6px var(--black);
}

.img__proyect{
    width: 80%;
    background: aliceblue;
    border-radius: 9px;
    box-shadow: -2px 0px 5px 8px var(--violet);
    border: 1px solid var(--blue);
}

img{
    width: 100%;
    border-radius: 9px;
    margin-bottom: -5px;
}

footer{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 37px;
} 

footer figure{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 40%;
    filter: drop-shadow(0px 0px 15px var(--black));
}

footer figure img{
    filter: drop-shadow(0px 5px 0px var(--blue));
    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.alien img{
    position: absolute;
    bottom: -26px;
    width: 111px;
    z-index: 0;
    filter: drop-shadow(0px 5px 10px var(--red));
}

.wave5{
    position: relative;
    top: -53px;
    filter: drop-shadow(0px 42px 10px var(--violet));
    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scale{
    0% { transform: translate(0px,  0px); }
    50%  { transform: translate(0px, 10px); }
    100%   { transform: translate(0px, 0px); }  
}

footer h2{
    margin: 50px 0px 32px;
}

footer ul{
    height: 10vh;
    filter: drop-shadow(0px 0px 15px var(--violet));
}

footer ul li{
    width: 44px;
    height: 35px;
    border-radius: 21px;
    border: none;
    filter: drop-shadow(0px 5px 0px var(--blue));
}

footer ul li i{
    font-size: 1.6rem;
}

footer ul li i:hover {
    color: #ff8200;
    font-weight: bold;
    /* text-shadow: 1px 2px 6px black; */
}