.astronaut img {
    top: -48px;
    left: 97px;
    width: 46px;
}

h1{
    width: 400px;
    height: 400px;
    font-size: 6rem;
}

.star__title svg {
    width: 55px;
    height: 81px;
    top: 22px;
    right: -81px;
}

main{
    gap: 0;
}

.wave1 {
    top: 100px;
}

.articles{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: unset;
    width: 100%;
}

.jobs article {
    /* flex-direction: row; */
    /* width: 40%; */
    width: 325px;
    border-radius: 9px;
    box-shadow: 2px 0px 1px var(--black), -1px 0px 0px var(--blue),-2px 0px 5px 8px var(--violet);
    /* border: 1px solid var(--blue); */
}

.perro img {
    width: 149px;
    top: 35px;
}

h2{
    font-size: 4rem;
}

p{
    font-size: 1.3rem;
}

.wave2 {
    top: -62px;
}

.container__article {
    /* width: 40%; */
    align-items: flex-start;
    gap: 35px;
}

ul{
    width: 100%;
}

ul li i {
    font-size: 1rem;
}

.description{
    width: 100%;
    text-align: start;
}

.img__proyect {
    width: 100%;
    height: 258px;
}

.img__proyect img{
    height: 100%;
}

.technologies{
    flex-direction: unset;
}

.technologies div, .deploy div{
    width: 50%;
}

footer {
    height: 70vh;
    overflow: hidden;
}

footer figure {
    width: 24%;
}

footer div {
    width: 50%;
}

footer ul{
    width: 35%;
}

footer ul li i{
    font-size: 1.7rem;
}